.App {
  text-align: center;
  color: var(--text-primary);
  background-color: var(--background);
  min-height: calc(100vh);
  max-height: fit-content;
  transition: all 0.5s;
  position: relative;
}

.App-link {
  color: var(--link);
}

.App-link:hover {
  color: var(--link-hover);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  background-color: var(--content);
  border-radius: 5px;
  padding: 20px;
  margin: 5px auto auto auto;
  text-align: left;
  width: auto;
  max-width: 1280px;
}

.langButtons {
  width: min-content;
  margin: auto;
}

.footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
