.App {
  text-align: center;
  color: var(--text-primary);
  background-color: var(--background);
  min-height: calc(100vh);
  max-height: fit-content;
  transition: all 0.5s;
  position: relative;
}

.langButtons {
  width: min-content;
  margin: auto;
}

.footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
