body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h4{
  padding-bottom: 8px;
}

//custom dark_light
:root {
  --background: #363537;
  --text-primary: #fafafa;
  --content: #434244;
  --link: rgb(158, 249, 255);
  --link-hover: rgb(92, 210, 218);
}

[data-theme="light"] {
  --background: #e0e0e0;
  --text-primary: rgb(32, 32, 32);
  --content: rgb(240, 240, 240);
  --link: rgb(180, 43, 43);
  --link-hover: rgb(255, 52, 52);
}

//custom bootstrap
$primary: #adb5bd !default;
$light: #ced4da !default;

@import "~bootstrap/scss/bootstrap.scss";
